/* You can add global styles to this file, and also import other style files */


body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root {
  --primary-color: #e31837;
  --secondary-color: #ffffff;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto; /* allow full page scroll */
}
